HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### [My Custom Rules] ###

# 1. 보안: DB 비밀번호가 들어있는 파일
backend/src/main/resources/application.yml

# 2. 프론트엔드: 용량이 큰 라이브러리 폴더 (다시 설치하면 됨)
frontend/node_modules/

# 3. 프론트엔드: 빌드 결과물
frontend/dist/
frontend/.env
